src/main/mule/epam-mulesoft-demo-ci-cd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="77f5ed51-1988-4911-b303-f8d50707c69c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="epam-mulesoft-demo-ci-cd-apiFlow" doc:id="fd8f98cd-7526-4867-aa05-68a3937ff36f" >
		<http:listener doc:name="Listener" doc:id="c42cde76-120e-474d-ae28-635cffe896a6" config-ref="HTTP_Listener_config" path="/now"/>
		<logger level="INFO" doc:name="Logger" doc:id="89b22c95-4d7f-4432-afed-09b3097ca3f4" message="#[flow.name] has been started"/>
		<ee:transform doc:name="Transform Message" doc:id="06d26e3d-3a91-465e-b8c7-f8de98769eca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "ok",
	date_time: now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
